body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: rgb(41, 48, 68);
}
.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* background-color: rgb(74, 97, 192); */
    background-color: (246, 247, 252);
}

.container > h1 {
    /* color: #FFF; */
    font-weight: 700;
}

.container > div {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 4rem;
}