body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: rgb(41, 48, 68);
}

h1 {
    font-size: 3rem;
}

a:visited {
    color: inherit;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: (246, 247, 252);
}

.container > h1 {
    font-weight: 700;
}

.container > h2 {
    color: rgb(69, 81, 115);
}

.container > div {
    display: grid;
    place-items: center;
}

